.productList {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color: white;
}

.productBlock {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
