.sortProducts {
    display: flex;
    justify-content: center;
    font-size: 17px;
    width: 90%;
    background-color: black;
    color: white;
    padding: 10px;
}

.sortSelect {
    outline: none;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
}

