.filterInputs {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 90%;
}

.filterByPrice, .searchByName {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.input {
    font-size: 17px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
