.productDetails {
    width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.199);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: white;
}
.productDetails:hover {
    padding: 25px;
}

.productDetails img {
    width: 300px;
}

.productDetailName {
    border-bottom: 1px solid black;
}

@media (max-width: 768px) {
    .productDetails {
        width: 70%;
    }

    .productDetails img {
        width: 200px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .productDetails {
        width: 80%;
    }

    .productDetails img {
        width: 400px;
    }
}