.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.5s;
    background-color: white;
}
.productName {
    border-bottom: 1px solid black;
}

.product img {
    width: 250px;
}

.buyBtn {
    padding: 10px;
    background: linear-gradient(120deg, rgb(66, 66, 231), rgb(124, 66, 231));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.buyBtn:hover {
    background: linear-gradient(120deg, rgb(106, 106, 228), rgb(145, 93, 240));
}

@media (max-width: 768px) {
    .product {
        width: 80%;
    }
    .product img {
        width: 280px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
   
}
